<!DOCTYPE html>
<html>
<title>CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/theme-teal.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
<script src="https://rawgit.com/enyo/dropzone/master/dist/dropzone.js"></script>
<link rel="stylesheet" href="https://rawgit.com/enyo/dropzone/master/dist/dropzone.css">
<body>

<!-- Navbar -->
<div class="top">
 <div class="bar theme-d2 left-align large">
  <a class="bar-item button hide-medium hide-large right padding-large hover-white large theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
  <a href="/home" class="bar-item button padding-large theme-d4"><i class="fa fa-home margin-right"></i>Logo</a>
  <a href="/analytics/read" class="bar-item button hide-small padding-large hover-white" title="News"><i class="fa fa-globe"></i></a>
  <a href="#" class="bar-item button hide-small padding-large hover-white" title="Account Settings"><i class="fa fa-user"></i></a>
  <a href="#" class="bar-item button hide-small padding-large hover-white" title="Messages"><i class="fa fa-envelope"></i></a>
  <div class="dropdown-hover hide-small">
    <button class="button padding-large" title="Notifications"><i class="fa fa-bell"></i><span class="badge right small green">3</span></button>     
    <div class="dropdown-content card-4 bar-block" style="width:300px">
      <a href="#" class="bar-item button">One new friend request</a>
      <a href="#" class="bar-item button">John Doe posted on your wall</a>
      <a href="#" class="bar-item button">Jane likes your post</a>
    </div>
  </div>
  <a href="#" class="bar-item button hide-small right padding-large hover-white" title="My Account">
    <img src="/static/images/avatar2.png" class="circle" style="height:28px;width:28px" alt="Avatar">
  </a>
 </div>
</div>

<!-- Header -->
<header class="container theme padding" id="myHeader">
  <i onclick="w3_open()" class="fa fa-bars xlarge button theme"></i> 
  <div class="center">
  <h4>효과적인 수업 평가 맞춤 솔루션</h4>
  <h1 class="xxxlarge animate-bottom">문제 출제 자동화</h1>
    <div class="padding-32">
      <form action='/home'>
      <button class="btn xlarge dark-grey hover-light-grey" onclick="document.getElementById('id01').style.display='block'" style="font-weight:900;">딥러닝 적용 기술</button>
      </form>
    </div>
  </div>
</header>

<!-- Modal -->
<div id="id01" class="modal">
    <div class="modal-content card-4 animate-top">
      <header class="container theme-l1"> 
        <span onclick="document.getElementById('id01').style.display='none'"
        class="button display-topright">×</span>
        <h4>Oh snap! We just showed you a modal..</h4>
        <h5>Because we can <i class="fa fa-smile-o"></i></h5>
      </header>
      <div class="padding">
        <p>Cool huh? Ok, enough teasing around..</p>
        <p>Go to our <a class="btn" href="/w3css/default.asp">W3.CSS Tutorial</a> to learn more!</p>
      </div>
      <footer class="container theme-l1">
        <p>Modal footer</p>
      </footer>
    </div>
</div>

<script> 
Dropzone.options.myDropzone = {
  init: function() {
    var myDropzone = this;
    this.on("addedfiles", function(files) {
      console.log(files.length + ' files added');
      setTimeout(() => {  document.getElementById("myDropzone").submit(); }, 2500);
      });
  }
};
</script>

<div class="row-padding center margin-top">
<div class="third">
  <div class="card container" style="min-height:460px">
  <h3>선택형</h3><br>
  <i class="fa fa-check-square-o margin-bottom text-theme" style="font-size:120px"></i>
  <p><input class="input border" type="text" placeholder="원하는 문항 갯수 입력"></p>
  <p><form action="/makequestion/read" class="dropzone">{% csrf_token %}</form></p>
  </div>
</div>

<div class="third">
  <div class="card container" style="min-height:460px">
  <h3>기술형</h3><br>
  <i class="fa fa-edit margin-bottom text-theme" style="font-size:120px"></i>
  <p><input class="input border" type="text" placeholder="원하는 문항 갯수 입력"></p>
  <p><form action="/makequestion/read" class="dropzone" id="myDropzone">{% csrf_token %}</form></p>
  </div>
</div>

<div class="third">
  <div class="card container" style="min-height:460px">
  <h3>만족도 조사형</h3><br>
  <i class="fa fa-bullhorn margin-bottom text-theme" style="font-size:120px"></i>
  <p><input class="input border" type="text" placeholder="원하는 문항 갯수 입력"></p>
  <p><form action="/makequestion/read" class="dropzone">{% csrf_token %}</form></p>
  </div>
</div>
</div>

<div class="container">
<hr>
</body>
</html>
